<div class="footer-social-link">
	<div class="social-link text-center container">
			<div class="col-md-12">
				<div class="row">

					<div class="col-md-2 social-link-item">
						<%= link_to 'https://www.facebook.com/dhalitech', target:'_blank' do %>
							<i class="fa fa-facebook"></i>
							<span> Facebook </span>
						<% end %>
					</div>

					<div class="col-md-2 col-xs-6 social-link-item">
						<%= link_to '' do %>
							<i class="fa fa-twitter"></i>
							<span> Twitter </span>
						<% end %>
					</div>

					<div class="col-md-2 social-link-item">
						<%= link_to '' do %>
							<i class="fa fa-linkedin"></i>
							<span> Linkedin </span>
						<% end %>
					</div>

					<div class="col-md-2 social-link-item">
						<%= link_to '' do %>
							<i class="fa fa-google"></i>
							<span> Google-plus </span>
						<% end %>
					</div>

					<div class="col-md-2 social-link-item">
						<%= link_to '' do %>
							<i class="fa fa-instagram"></i>
							<span> Instagram </span>
						<% end %>
					</div>

					<div class="col-md-2 social-link-item">
						<%= link_to '' do %>
							<i class="fa fa-pinterest"></i>
							<span> Pinterest </span>
						<% end %>
					</div>

				</div>
			</div>
	</div>
</div>