<div style="border-top: 5px solid #fff;">
<div style="border-bottom: 5px solid #2C0066; border-top: 5px solid #2C0066;">
 <div class="module-section">
 	<div class="col-md-12">
 	<div class="row">

 		<div class="col-md-4">
 			<div class="col-md-12">
 			<div class="row module-item">
 				<div class="col-md-4">
 					<%= image_tag 'icons/4.png', class:'img-responsive img-circle' %>
 				</div>

 				<div class="col-md-8">
	 				<div class="module-title"> <strong> REACH </strong> </div>
	 				<div class="module-description text-justify">Lorem Ipsum is simply dummy.
	 				</div>
 				</div>
 				</div>
 			</div>
 		</div>

 		 		<div class="col-md-4">
 			<div class="col-md-12">
 			<div class="row module-item">
 				<div class="col-md-4">
 					<%= image_tag 'icons/5.png', class:'img-responsive img-circle' %>
 				</div>

 				<div class="col-md-8">
	 				<div class="module-title"> <strong> ORGANIZED </strong> </div>
	 				<div class="module-description text-justify">Lorem Ipsum is simply dummy .
	 				</div>
 				</div>
 				</div>
 			</div>
 		</div>

 		 		<div class="col-md-4">
 			<div class="col-md-12">
 			<div class="row module-item">
 				<div class="col-md-4">
 					<%= image_tag 'icons/7.png', class:'img-responsive img-circle' %>
 				</div>

 				<div class="col-md-8">
	 				<div class="module-title"> <strong> QUALITY EDUCATION </strong> </div>
	 				<div class="module-description text-justify">Lorem Ipsum is simply dummy.
	 				</div>
 				</div>
 				</div>
 			</div>
 		</div>

	</div>
 	</div>



 	<div class="col-md-12">
 	<div class="row">

 		<div class="col-md-4">
 			<div class="col-md-12">
 			<div class="row module-item">
 				<div class="col-md-4">
 					<%= image_tag 'icons/8.png', class:'img-responsive img-circle' %>
 				</div>

 				<div class="col-md-8">
	 				<div class="module-title"> <strong> ADVOCACEY </strong> </div>
	 				<div class="module-description text-justify"> 
	 				Lorem Ipsum is simply dummy.
	 				</div>
 				</div>
 				</div>
 			</div>
 		</div>

 		 		<div class="col-md-4">
 			<div class="col-md-12">
 			<div class="row module-item">
 				<div class="col-md-4">
 					<%= image_tag 'icons/6.png', class:'img-responsive img-circle' %>
 				</div>

 				<div class="col-md-8">
	 				<div class="module-title"> <strong> SUPPORT </strong> </div>
	 				<div class="module-description text-justify">
	 				Lorem Ipsum is simply dummy.
	 				</div>
 				</div>
 				</div>
 			</div>
 		</div>

 		 		<div class="col-md-4">
 			<div class="col-md-12">
 			<div class="row module-item">
 				<div class="col-md-4">
 					<%= image_tag 'icons/4.png', class:'img-responsive img-circle' %>
 				</div>

 				<div class="col-md-8">
	 				<div class="module-title"> <strong> SPECIALITY </strong> </div>
	 				<div class="module-description text-justify">
	 				Lorem Ipsum is simply dummy.
	 				</div>
 				</div>
 				</div>
 			</div>
 		</div>

	</div>
 	</div>

 </div>
</div>
</div>