<div class="module-top-menu-list">
 <div class="col-md-12">
   <div class="row">

     <div class="col-md-4">
       <div class ="col-md-12">
       <div class="row">
         <div class="col-md-5 text-center">
            <%= image_tag 'icons/1.png' %>
         </div>
         <div class="col-md-7 text-center border">
         <%= link_to '' do %>
           <h6> OUR <br> GOAL</h6>
           <% end %>
         </div>
         </div>
       </div>
     </div>

      <div class="col-md-4">
      <div class ="col-md-12">
       <div class="row">
      <div class="col-md-5 text-center">
      <%= image_tag 'icons/2.png' %>
      </div>
      <div class="col-md-7 text-center border">
      <%= link_to '' do %>
      <h6> OUR ACHIEVEMENT</h6>
      <% end %>
      </div>
      </div>
      </div>
      </div>

      <div class="col-md-4">
      <div class ="col-md-12">
       <div class="row">
      <div class="col-md-5 text-center">
      <%= image_tag 'icons/3.png' %>
      </div>
      <div class="col-md-7 text-center border">
      <%= link_to '' do %>
      <h6> OUR SUPPORT</h6>
      <% end %>
      </div>
      </div>
      </div>
      </div>

   </div>
 </div>
</div>